<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>

<!-- Font Icon -->
<link rel="stylesheet"
	href="login/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="login/css/style.css">
</head>
<body>
<th:block th:insert="Header.html"></th:block>
<br>
<br>
	<br>
<br>

	<br>
	<div class="container-flude">
		<div >
			<div class="signin-content">
				<div class="signin-image">
					<figure>
						<img src="login/images/signin-image.jpg" alt="sing up image">
					</figure>
				</div>

				<div class="signin-form">
					<h2 class="form-title">Sign up</h2>
					<form action="/login" method="POST" class="register-form"
						id="login-form">
						<p style="color: red;">[[${message}]]</p>
						<div class="form-group">
							<label for="your_name"><i
								class="zmdi zmdi-account material-icons-name"></i></label> <input
								type="text" name="username" id="your_name"
								placeholder="Enter email address" required="required" />
						</div>
						<div class="form-group">
							<label for="your_pass"><i class="zmdi zmdi-lock"></i></label> <input
								type="password" name="password" id="your_pass"
								placeholder="Enter Password"  required="required"/>
						</div>
						<div class="form-group">
							<input type="checkbox" name="remember-me" id="remember-me"
								class="agree-term"  required="required"/> <label for="remember-me"
								class="label-agree-term"><span><span></span></span>Remember
								me</label>
						</div>
						<div class="form-group form-button">
							<input type="submit" name="signin" id="signin"
								class="form-submit" value="Log in" />
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>
