<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pixel Photography</title>
 
</head>

<body>
<th:block th:insert="Header.html"></th:block>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Pixels Photography</h1>
      <h2>I'm a professional Photographers Teams</h2>
      <a href="/about" class="btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->


<th:block th:insert="Footer.html"></th:block>
</body>

</html>